@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    font-weight: 300;
}

header {
    background-color: #222e5e;
}

nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 20px 10px 20px;
}

nav li {
    list-style: none;
    display: inline;
    margin-left: 12px;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav button {
    padding: 15px 25px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

nav button:hover {
    border: 1px solid #f05b1d;
    background: #f05b1d;
    color: #fff;
}

.header-container {
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding: 70px 15px 100px;
}

.header-content,
.header-img {
    flex-basis: 50%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px 0 0;
}

.header-img img {
    width: 100%;
}

.header-content h1 {
    color: white;
    font-size: 50px;
}

.header-content p {
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin: 25px 0;
}

.header-content button {
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    background: #f05b1d;
    padding: 14px 40px 16px;
    color: #fff;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s;
}

.header-content button:hover {
    background: #1AB15F;
    color: #fff;
}

.number-container {
    display: flex;
}

.number-item {
    flex-basis: 20%;
    text-align: center;
    background-color: aqua;
    padding: 60px 0;
    color: white;
}

.number-item h2 {
    font-size: 50px;
}

.number-item p {
    font-size: 18px;
    font-weight: 300;
}

main {
    max-width: 1200px;
    margin: 100px auto 0;
}

.feature-container {
    text-align: center;
    margin-bottom: 120px;
}

.feature-container h2 {
    margin: 10px 0;
}

.featureP {
    color: #f05b1d;
    font-weight: 500;
}

.feature-container h2+p {
    font-size: 16px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
}

.feature-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: 70px;
    flex-basis: 23%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    border-radius: 15px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 20px;
    margin: 15px 0;
}

.card p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
    padding: 0 5px;
}

.card-line {
    width: 100px;
    border-radius: 20px;
    margin: 20px auto;
    height: 0;
    transition: all .3s;
}

.card:hover .card-line {
    display: block;
    height: 10px;
}

.feature-course-container {
    text-align: center;
}

.feature-course-container h2+p {
    font-size: 16px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
}

.fc-row {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.fc-col {
    text-align: left;
}

.fc-col-1 {
    flex-basis: 55%;
}

.fc-col-2 {
    display: flex;
    flex-basis: 40%;
    max-height: 100%;
}

.curriculum-container {
    margin: 20px 0 0;
}

.curriculum-row {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-between;
}

.curriculum-img img {
    width: 100%;
}

.video {
    width: 100%;
    height: 380px;
    border-radius: 20px;
}

.fc-h2 {
    margin: 15px 0;
}

.curriculum-content,
.ls-col-1 {
    flex-basis: 50%;
}

.curriculum-img {
    flex-basis: 45%;
}

.curriculum-content h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.sticky-container {
    position: sticky;
    top: 0;
    max-width: 75%;
    margin: 0 auto;
    max-height: 750px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 8px;
}

.sticky-container p {
    font-size: 15px;
    font-weight: 400;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px!important;
}

.rating .material-icons {
    color: #ef581d;
}

.rating-num {
    font-weight: 200;
}

.class-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.class-item {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.class-img {
    padding: 20px 22px;
    border-radius: 8px;
}

.class-img img {
    width: 50px;
    height: 50px;
}

.sticky-container h2 {
    font-size: 25px;
}

.reg-btn-container,
.course-container {
    width: 100%;
    display: flex;
}

.sticky-container button,
.ss-col-1 button,
.ls-col-2 button,
.banner-content button {
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #f05b1d;
    padding: 14px 40px 16px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0px 6px 10px 0px rgb(240 91 29 / 60%);
    transition: 0.3s ease-in-out;
}

.sticky-container button:hover,
.ss-col-1 button:hover,
.ls-col-2 button:hover,
.banner-content button:hover {
    background: #1AB15F;
    color: #fff;
    box-shadow: 0px 6px 10px 0px rgb(26 177 95);
}

section {
    background-color: #222e5e;
    color: white;
    padding: 100px 0;
    margin-top: 100px;
    text-align: center;
}

.popular-course-container {
    max-width: 1200px;
    margin: auto;
}

.popular-course-container h2 {
    margin-bottom: 20px;
}

.popular-course-container h2+p {
    font-size: 16px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
}

.course-container {
    margin-top: 50px;
}

.course-row {
    display: flex;
}

.course-col {
    flex-basis: 22%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: left !important;
}

.course-img img {
    width: 100%;
}

.course-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.course-details {
    font-size: 16px;
    margin-bottom: 25px;
}

.enroll {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1375f7;
    transition: all .3s;
}

.enroll span {
    margin-left: 15px;
}

.course-col:hover .enroll {
    color: #ef581d;
}

article {
    max-width: 1200px;
    margin: 150px auto 0;
}

.ss-row {
    display: flex;
    justify-content: space-between;
}

.ss-col-1,
.ls-col-2 {
    flex-basis: 40%;
}

.ss-col-2 {
    flex-basis: 45%;
    position: relative;
}

.ss-col-1 h2 {
    margin: 10px 0 15px;
}

.ss-col-1 h2+p,
.ls-col-2 h2+p {
    font-size: 16px;
    line-height: 1.7;
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.review-img img {
    width: 100%;
}

.review-img {
    flex-basis: 45%;
}

.reviewer-name {
    flex-basis: 55%;
    padding: 0 30px;
}

.reviewer-name p {
    font-weight: 500;
}

.review {
    padding: 30px;
    border-radius: 15px;
    position: relative;
    z-index: 9999;
    background: #fff;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, .05)!important;
    border: 1px solid #f7f7f7;
}

.review-content {
    position: relative;
}

.review-content p {
    margin-top: 25px;
    padding-left: 50px;
}

.review-content::after {
    content: url('https://shikhbeshobai.com/public/frontend/assets/junior-assets/img/quote.png');
    position: absolute;
    top: -25%;
    left: 0;
}

.ss-col-2::before {
    content: '';
    position: absolute;
    top: -80px;
    left: -80px;
    background-color: #1AB15F;
    width: 100%;
    height: 100%;
    z-index: -100;
    border-radius: 18px;
}

.ls-container {
    margin-top: 100px;
}

.ls-row {
    display: flex;
    justify-content: space-between;
}

.ls-img img {
    width: 100%;
}

.ls-col-2 h2 {
    margin: 10px 0;
}

.banner-container {
    border-radius: 20px;
    margin: 100px 0;
    max-width: 100%;
    background-color: violet;
    height: 600px;
    background: url('https://shikhbeshobai.com/public/frontend/assets/junior-assets/img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 50px 60px;
    position: relative;
    top: 80px;
    left: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
}

.banner-content h2 {
    line-height: 1.3;
    margin-bottom: 20px;
}

.banner-content h3 {
    font-weight: 600;
    font-size: 20px;
}

.contactUs-container {
    background-color: #2e367d;
    box-shadow: 0 8px 28px 2px rgb(61 61 61 / 12%);
    color: white;
    padding: 100px 50px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.contactUs-row {
    display: flex;
    justify-content: space-between;
}

.contactUs-col {
    flex-basis: 45%;
}

footer {
    max-width: 1200px;
    margin: 50px auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    flex-basis: 23%;
}

.footer-col h4 {
    margin-bottom: 10px;
    color: #1e266d;
}

.footer-col a,
.footer-col p {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: black;
    font-weight: 300;
    opacity: 0.75;
    transition: all .2s;
}

.footer-col a:hover {
    font-weight: 400;
    color: #2e367d;
    opacity: 1;
    padding-left: 5px;
}

.temp {
    display: none;
}

@media screen and (max-width: 1150px) {
    header,
    main,
    section,
    article,
    footer {
        display: none;
    }
    .temp {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
    }
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
